.taskContainer{
  width: 500px;
  min-height: 65px;
  background-color: #1b1b32;
  margin: 5px 0;
  padding: 8px 15px 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  border:solid 1px whitesmoke;

}
.taskContainer:nth-child(3n+1){
  background-color: #1b1b32;
}
.taskContainer:nth-child(3n+2){
  background-color: #2a2a40;
}
.taskContainer:nth-child(3n+3){
  background-color: #3b3b4f;
}
.taskText{
  /*border:solid 1px red;*/
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
  cursor: pointer;
}
.taskIcon{
  width: 25px;
  height: 25px;
  margin: 5px;
  cursor: pointer;
}
.taskContainer.completedStyle{
  text-decoration: line-through;
  background-color: #5a01a7;
  user-select: none;
}